[submodule "packages/recline-dashboard"]
	path = packages/recline-dashboard
	url = https://KrishnaPG@bitbucket.org/KrishnaPG/recline-dashboard.git

[submodule "packages/lightbox"]
	path = packages/lightbox
	url = https://KrishnaPG@bitbucket.org/KrishnaPG/meteor-lightbox.git
